<% if current_user %>

<%= current_user.tracks.size %>

<% tracks = current_user.tracks.where('added_at > ?', 8.days.ago).order('added_at DESC') %>

<style type="text/css">
  th {
    text-align: left;
  }
</style>
<table style="width:100%">
  <tr>
    <th>ID</th>
    <th>Track</th>
    <th>Artist</th>
    <th>Album</th>
  </tr>
  
<% tracks.each do |track| %>
  <tr>
    <td><%= track.id %></td>
    <td><%= track.name %></td>
    <td><%= track.artist.name %></td>
    <td><%= track.album.name %></td>
  </tr>
<% end %>
</table>

<% end %>