

<div class="main-content">
  <div class="container-fluid">
    <% if current_user %>

    <%#= current_user.tracks.size %>

    <% tracks = current_user.tracks.where('added_at > ?', 10.days.ago).order('added_at DESC') %>

    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Track</th>
          <th>Artist</th>
          <th>Album</th>
          <th>Features</th>
          <th>Genres</th>
        </tr>
      </thead>
      <tbody>
      <% tracks.each do |track| %>
        <tr>
          <td><%= track.id %></td>
          <td><%= track.name %></td>
          <td><%= track.artist.name %></td>
          <td><%= track.album.name %></td>
          <td><%= track.audio_features %></td>
          <td><%= track.artist.genres %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <% end %>
  </div>
</div>
