<% if current_user %>

  <% if current_user and current_user.playlists.count == 0 %>
    <div class="container">
      <div class="card m-5">
        <div class="card-body text-center p-5">
          <div class="row justify-content-center">
            <div class="col-12">
              
              <div>
              <%= link_to image_tag('logo.svg', class: 'img-fluid mt-n5 mb-4 pt-5', style: 'max-width:200px'), root_path, class: '' %>
              </div>

              <h1>
                You're in! Get started by building your first playlist!
              </h1>
              <p><small class="text-muted">(It may take a few minutes for all of your songs to start showing up)</small></p>

              <%= link_to "<i class='fas fa-plus-circle'></i> Create a playlist".html_safe, new_playlist_path, class: 'btn btn-lg btn-primary mb-4' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="main-content">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-12">

            <div class="header mt-md-5">
              <div class="header-body">
                <div class="row align-items-center">
                  <div class="col">
                    
                    <!-- Pretitle -->
                    <h6 class="header-pretitle">
                      Music
                    </h6>

                    <!-- Title -->
                    <h1 class="header-title">
                      Latest Streams
                    </h1>
                  </div>
                </div> <!-- / .row -->
              </div>
            </div>


            <div class="card">
              <div class="table-responsive">
                <table class="table table-sm table-nowrap card-table">
                  <thead>
                    <tr>
                      <th colspan="2">Song</th>
                      <th>Artist</th>
                      <th>Album</th>
                      <th><i class="fal fa-calendar-alt"></i></th>
                      <th><i class="fal fa-clock"></i></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody class="list">
                    <% @latest_streams.each do |stream| %>
                    <tr>
                      <td colspan="2">
                        <div class="avatar avatar-xs mr-2"><%= image_tag stream.track.album.image, class: 'avatar-img rounded-sm' if stream.track.album.image.present? %></div>
                        <span class="align-middle text-truncate d-inline-block" style="max-width:200px;"><%= stream.track.name %></span>
                      </td>
                      <td>
                        <%= stream.track.artist.name %>
                      </td>
                      <td>
                        <%= stream.track.album.name %>
                      </td>
                      <td>
                        <time><%= time_ago_in_words(stream.played_at).gsub('about','') %> ago</time>
                      </td>
                      <td>
                        <%= format_ms(stream.track.duration) %>
                      </td>
                      <td><span tabindex="0" data-trigger="focus" data-toggle="popover"data-html="true" data-content="<% if stream.track.artist.genres.present? %><h3 class='popover-header'>Genres</h3><div class='popover-body'><%= stream.track.artist.genres.join(', ') %></div><br><% end %><% if stream.track.audio_features.present? %><h3 class='popover-header'>Audio Features</h3><div class='popover-body'><%= human_readable(stream.track.audio_features) %></div><% end %>"><i class="fas fa-info-circle"></i></span></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>


<% else %>
<% content_for :body_class, "d-flex align-items-center bg-auth border-top border-top-4 border-dark landing" %>
<div class="container">
  <div class="row align-items-center">
    <div class="col-12 col-xl-5 offset-xl-1 order-2 mb-5 mb-md-0">

      <!-- Image -->
      <div class="card p-3">
        <%= image_tag('filters.png', class: 'img-fluid') %>
      </div>

    </div>
    <div class="col-12 col-xl-6 order-xl-1 order-1 my-5">
          
      <div class="text-center">
          
        <!-- Preheading -->
        <h6 class="text-uppercase text-muted mb-4">
          <%= image_tag('logo-full.svg', class: 'img-fluid mt-1 mb-4', style: 'max-width:350px') %>
        </h6>

        <!-- Heading -->
        <h1 class="display-4 mb-3">
          Create smart playlists for your Spotify library!
        </h1>

        <!-- Subheading -->
        <p class="text-muted mb-4">
          Stop relying on fancy pants algorithms to organize your library and instead build up playlists the way <i>you</i> want them.
        </p>

        <!-- Button -->
        <%= link_to "<i class='fab fa-spotify'></i> Sign in with Spotify".html_safe, omniauth_authorize_path('user', 'spotify'), class: 'btn btn-lg btn-success mb-5 font-weight-bolder', style: 'font-size:1.5em;' %>
          
          <p><span class="badge badge-pill badge-primary">Track name</span> <span class="badge badge-pill badge-primary">Artist name</span> <span class="badge badge-pill badge-primary">Days since added</span> <span class="badge badge-pill badge-primary">Release date</span> <span class="badge badge-pill badge-primary">Last played</span> <span class="badge badge-pill badge-primary">Beats Per Minute</span> <span class="badge badge-pill badge-primary">Genres</span> <span class="badge badge-pill badge-primary">Play count</span> <span class="badge badge-pill badge-primary">Duration</span> <span class="badge badge-pill badge-primary">Key</span> <span class="badge badge-pill badge-primary">Danceability</span> <span class="badge badge-pill badge-primary">Mode</span> <span class="badge badge-pill badge-primary">Acousticness</span> <span class="badge badge-pill badge-primary">Instrumentalness</span> <span class="badge badge-pill badge-primary">Speech</span> <span class="badge badge-pill badge-primary">Valence (Mood)</span> <span class="badge badge-pill badge-primary">Explicitness</span> <span class="badge badge-pill badge-primary">Lyrics</span></p>
      </div>

    </div>
  </div> <!-- / .row -->
</div>
<% end %>