<% if current_user %>

  <% if current_user and current_user.playlists.count == 0 %>
    <div class="container">
      <div class="card m-5">
        <div class="card-body text-center p-5">
          <div class="row justify-content-center">
            <div class="col-12">
              
              <div>
              <%= link_to image_tag('logo.svg', class: 'img-fluid mt-n5 mb-4 pt-5', style: 'max-width:200px'), root_path, class: '' %>
              </div>

              <h2>
                You're in! Get started by building your first playlist!
              </h2>
              <p><small class="text-muted">(It may take a few minutes for all of your songs to start showing up)</small></p>

              <%= link_to "<i class='fas fa-plus-circle'></i> Create a playlist".html_safe, new_playlist_path, class: 'btn btn-lg btn-primary mb-4' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="main-content">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-12">

            <div class="header mt-md-5">
              <div class="header-body">
                <div class="row align-items-center">
                  <div class="col">
                    
                    <!-- Pretitle -->
                    <h6 class="header-pretitle">
                      Music
                    </h6>

                    <!-- Title -->
                    <h1 class="header-title">
                      Latest Streams
                    </h1>
                  </div>
                </div> <!-- / .row -->
              </div>
            </div>


            <div class="card">
              <div class="table-responsive">
                <table class="table table-sm table-nowrap card-table">
                  <thead>
                    <tr>
                      <th colspan="2">Song</th>
                      <th>Artist</th>
                      <th>Album</th>
                      <th><i class="fal fa-calendar-alt"></i></th>
                      <th><i class="fal fa-clock"></i></th>
                    </tr>
                  </thead>
                  <tbody class="list">
                    <% @latest_streams.each do |stream| %>
                    <tr>
                      <td colspan="2">
                        <div class="avatar avatar-xs mr-2"><%= image_tag stream.track.album.image, class: 'avatar-img rounded-sm' %></div>
                        <span class="align-middle text-truncate d-inline-block" style="max-width:200px;"><%= stream.track.name %></span>
                      </td>
                      <td>
                        <%= stream.track.artist.name %>
                      </td>
                      <td>
                        <%= stream.track.album.name %>
                      </td>
                      <td>
                        <time><%= time_ago_in_words(stream.played_at).gsub('about','') %> ago</time>
                      </td>
                      <td>
                        <%= format_ms(stream.track.duration) %>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>


<% else %>
<div class="vertical-center">
<div class="container">
  <div class="card m-5">
    <div class="card-body text-center p-4">
      <div class="row justify-content-center p-4">
        <div class="col-12 p-5">
          <div><%= link_to image_tag('screenshot.png', class: 'img-fluid mb-4', style: 'max-width:750px'), root_path, class: '' %></div>
          <%= link_to image_tag('logo-full.svg', class: 'img-fluid mt-1 mb-4', style: 'max-width:350px'), root_path, class: '' %>
           <h2 class="display-4">
              Create smart playlists for your Spotify library!
            </h2>

            <p class="text-muted">
              Stop relying on fancy pants algorithms to organize your library and instead build up playlists the way <i>you</i> want them.
            </p>
            <hr>
            <h2>Build playlists with a variety of attributes!</h2>
            <p><span class="badge badge-pill badge-primary">Days since added</span> <span class="badge badge-pill badge-primary">Release date</span> <span class="badge badge-pill badge-primary">Last played</span> <span class="badge badge-pill badge-primary">Beats Per Minute</span> <span class="badge badge-pill badge-primary">Genre</span> <span class="badge badge-pill badge-primary">Play count</span> <span class="badge badge-pill badge-primary">Duration</span> <span class="badge badge-pill badge-primary">Key</span> <span class="badge badge-pill badge-primary">Danceability</span></p>
            <hr>
            <%= link_to "<i class='fab fa-spotify'></i> Sign in with Spotify".html_safe, omniauth_authorize_path('user', 'spotify'), class: 'btn btn-lg btn-success mb-3 mt-5 font-weight-bolder', style: 'font-size:1.5em;' %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<% end %>