<%= hidden_field_tag 'original_filters', @playlist.filters.to_json %>
<%= hidden_field_tag 'user_genres', current_user.combined_genres.to_json  %>
<%= f.hidden_field :filters, value: @playlist.filters.to_json %>
<h2>Details</h2>
<div class="form-group row">
  <%= f.label :name, class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= f.text_field :name, class: 'form-control mb-1' %>
    <small class="text-muted">Name that playlist!</small>
  </div>
</div>
<div class="form-group row">
  <%= f.label :auto_update, 'Auto Update?', class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= f.select(:auto_update, options_for_select([['Yes','true'], ['No', 'false']], @playlist.auto_update), {}, { class: 'custom-select custom-select-lg mb-1'}) %>
    <small class="text-muted">Should the playlist in Spotify be periodically updated?</small>
  </div>
</div>
<div class="form-group row">
  <%= f.label :public, 'Privacy', class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= f.select(:public, options_for_select([['Public','true'], ['Private', 'false']], @playlist.public), {}, { class: 'custom-select custom-select-lg mb-1'}) %>
    <small class="text-muted">Is this a public or private playlist?</small>
  </div>
</div>
<hr>
<h2>Source</h2>
<div class="form-group row">
  <div class="col-sm-12">
    <%= f.select(:catalog, options_for_select([['Only songs I\'ve liked', 'songs'], ['Any songs from artists I\'ve liked', 'artists'], ['Full Spotify catalog', 'full']], @playlist.catalog), {}, { class: 'custom-select custom-select-lg mb-1'}) %>
    <small class="text-muted">Select songs from just your library or the full Spotify catalog?</small>
  </div>
</div>
<hr>
  <h2>Rules</h2>

  <div id="builder"></div>
<hr>
<h2>Limit & Sort</h2>
<div class="form-group row">
  <%= f.label :limit, class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= f.number_field :limit, min: 0, max: 10000, class: 'form-control mb-1' %>
    <small class="text-muted">How many songs should the playlist contain?</small>
  </div>
</div>

<div class="form-group row">
  <%= f.label :sort, class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= f.select(:sort, options_for_select([['Random','random'], ['Most Popular', 'most_popular'], ['Least Popular', 'least_popular'], ['Most Played', 'most_often_played'], ['Least Played', 'least_often_played'], ['Most Recently Added', 'most_recently_added'], ['Least Recently Added', 'least_recently_added'], ['Most Recently Played', 'most_recently_played'], ['Least Recently Played', 'least_recently_played'], ['Release Date - Ascending', 'release_date_asc'], ['Release Date - Descending', 'release_date_desc']], @playlist.sort), {}, { class: 'custom-select custom-select-lg mb-1'}) %>
    <small class="text-muted">Combine with <b>limit</b> to curate how songs are selected</small>
  </div>
</div>
<hr>