<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">

        <div class="header mt-md-5">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="header-pretitle">Playlist</h6>
                <h1 class="header-title"><%= @playlist.name %></h1>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <%= form_for @playlist, html: {class: ''} do |f| %>
              <%= hidden_field_tag 'original_filters', @playlist.filters.to_json %>
              <% if current_user.genres %>
              <%= hidden_field_tag 'user_genres', current_user.genres.to_json  %>
              <% else %>
              <%= hidden_field_tag 'user_genres', '["acoustic pop", "adult standards", "album rock", "alternative dance", "alternative hip hop", "alternative metal", "alternative r&b", "alternative rock", "argentine hip hop", "argentine rock", "art pop", "art rock", "atl hip hop", "atl trap", "australian pop", "baile pop", "banda", "baroque pop", "big room", "blues-rock", "bolero", "boy band", "brazilian hip hop", "brazilian rock", "brill building pop", "british invasion", "british soul", "brostep", "cali rap", "canadian contemporary r&b", "canadian hip hop", "canadian pop", "cantautor", "ccm", "chamber pop", "chicago rap", "chillhop", "chillwave", "christian alternative rock", "christian music", "classic rock", "classic soul", "classical", "colombian pop", "conscious hip hop", "contemporary country", "country", "country pop", "country rap", "country road", "country rock", "cumbia", "dance pop", "dance rock", "dance-punk", "dark trap", "deep big room", "deep german hip hop", "deep house", "deep pop r&b", "deep tropical house", "detroit hip hop", "dfw rap", "dirty south rap", "disco", "dream pop", "dutch hip hop", "dutch pop", "east coast hip hop", "edm", "electro house", "electronic", "electronic trap", "electropop", "emo", "emo rap", "escape room", "europop", "focus", "folk", "folk rock", "folk-pop", "forro", "francoton", "freak folk", "french hip hop", "funk", "funk carioca", "funk metal", "funk ostentacao", "g funk", "gangster rap", "garage rock", "german hip hop", "german pop", "german rock", "girl group", "glam metal", "glam rock", "grime", "groove metal", "grunge", "grupera", "hard rock", "hardcore hip hop", "heartland rock", "hip hop", "hip pop", "hoerspiel", "hollywood", "house", "indie anthem-folk", "indie cafe pop", "indie folk", "indie pop", "indie pop rap", "indie poptimism", "indie r&b", "indie rock", "indietronica", "indonesian pop", "italian arena pop", "italian hip hop", "italian pop", "j-pop", "k-pop", "k-pop boy group", "k-pop girl group", "latin", "latin alternative", "latin arena pop", "latin hip hop", "latin pop", "latin rock", "latin viral pop", "lilith", "lo-fi beats", "lounge", "melancholia", "mellow gold", "melodic metalcore", "metal", "metalcore", "metropopolis", "mexican pop", "mexican rock", "miami hip hop", "modern alternative rock", "modern country rock", "modern rock", "motown", "mpb", "neo mellow", "neo soul", "new americana", "new jack swing", "new rave", "new romantic", "new wave", "new wave pop", "norteno", "norwegian pop", "nova mpb", "nu metal", "opm", "outlaw country", "pagode", "permanent wave", "piano rock", "pop", "pop edm", "pop nacional", "pop punk", "pop rap", "pop rock", "post-grunge", "post-teen pop", "progressive electro house", "progressive house", "psychedelic rock", "punk", "quiet storm", "r&b", "ranchera", "rap", "rap conscient", "rap metal", "rap rock", "reggaeton", "reggaeton flow", "regional mexican", "regional mexican pop", "rock", "rock en espanol", "rock-and-roll", "roots rock", "scorecore", "screamo", "sertanejo", "sertanejo pop", "sertanejo universitario", "singer-songwriter", "sleep", "soft rock", "soul", "soundtrack", "southern hip hop", "southern rock", "spanish pop", "speed metal", "stomp and holler", "swedish pop", "synthpop", "talent show", "toronto rap", "traditional country", "trap argentino", "trap francais", "trap latino", "trap music", "trap queen", "tropical", "tropical house", "turkish pop", "turkish rock", "uk dance", "uk hip hop", "uk pop", "underground hip hop", "urban contemporary", "vapor soul", "vapor trap", "viral pop", "vocal jazz", "west coast rap", "world worship", "worship", "yacht rock"]'  %>
              <% end %>
              <%= f.hidden_field :filters, value: @playlist.filters.to_json %>
            <h2>Details</h2>
            <div class="form-group row">
              <%= f.label :name, class: 'col-sm-2 col-form-label' %>
              <div class="col-sm-10">
                <%= f.text_field :name, class: 'form-control mb-1' %>
                <small class="text-muted">Name that playlist!</small>
              </div>
            </div>
            <hr>
            <h2>Library</h2>
            <div class="form-group row">
              <%#= f.label :full_catalog, 'Full Full', class: 'col-sm-2 col-form-label' %>
              <div class="col-sm-12">
                <%= f.select(:full_catalog, options_for_select([['Only my library',false], ['Full Spotify catalog', true]], @playlist.full_catalog), {}, { class: 'custom-select custom-select-lg mb-1'}) %>
                <small class="text-muted">Select songs from just your library or the full Spotify catalog?</small>
              </div>
            </div>
            <hr>
              <h2>Rules</h2>

              <div id="builder"></div>
            <hr>
            <h2>Limit & Sort</h2>
            <div class="form-group row">
              <%= f.label :limit, class: 'col-sm-2 col-form-label' %>
              <div class="col-sm-10">
                <%= f.text_field :limit, class: 'form-control mb-1' %>
                <small class="text-muted">How many songs should the playlist contain?</small>
              </div>
            </div>

            <div class="form-group row">
              <%= f.label :sort, class: 'col-sm-2 col-form-label' %>
              <div class="col-sm-10">
                <%= f.select(:sort, options_for_select([['Random','random'], ['Most Popular', 'most_popular'], ['Least Popular', 'least_popular'], ['Most Played', 'most_often_played'], ['Least Played', 'least_often_played'], ['Most Recently Added', 'most_recently_added'], ['Least Recently Added', 'least_recently_added']], @playlist.sort), {}, { class: 'custom-select custom-select-lg mb-1'}) %>
                <small class="text-muted">Combine with <b>limit</b> to curate how songs are selected</small>
              </div>
            </div>
            <hr>


              <button type="submit" class="btn btn-primary mb-2">Update Rules</button>
            <% end %>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>
