<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">

        <div class="header mt-md-5">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="header-pretitle">Playlist</h6>
                <h1 class="header-title"><%= @playlist.name %></h1>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <%= form_for @playlist, html: {class: ''} do |f| %>
            <h2>Details</h2>
            <div class="form-group row">
              <%= f.label :name, class: 'col-sm-2 col-form-label' %>
              <div class="col-sm-10">
                <%= f.text_field :name, class: 'form-control mb-1' %>
                <small class="text-muted">Name that playlist!</small>
              </div>
            </div>
            <hr>
            <h2>Rules</h2>
              <div class="form-group row">
                <%= f.label :days_ago, class: 'col-sm-2 col-form-label' %>
                <div class="col-sm-10">
                  <%= f.text_field :days_ago, class: 'form-control mb-1' %>
                  <small class="text-muted">How many days ago was the song added?</small>
                </div>
              </div>

              <div class="form-group row">
                <%= f.label :days_ago_filter, class: 'col-sm-2 col-form-label' %>
                <div class="col-sm-10">
                  <%= f.select(:days_ago_filter, options_for_select([['',''], ['Less than', 'lt'], ['Greater than', 'gt']], @playlist.days_ago_filter), {}, { class: 'custom-select custom-select-lg mb-1'}) %>
                  <small class="text-muted">Days ago, less than or greater than?</small>
                </div>
              </div>

              <div class="form-group row">
                <%= f.label :bpm, 'BPM', class: 'col-sm-2 col-form-label' %>
                <div class="col-sm-10">
                  <%= f.text_field :bpm, class: 'form-control mb-1' %>
                  <small class="text-muted">How many days ago was the song added?</small>
                </div>
              </div>

              <div class="form-group row">
                <%= f.label :bpm_filter, 'BPM Filter', class: 'col-sm-2 col-form-label' %>
                <div class="col-sm-10">
                  <%= f.select(:bpm_filter, options_for_select([['',''], ['Less than', 'lt'], ['Greater than', 'gt']], @playlist.bpm_filter), {}, { class: 'custom-select custom-select-lg mb-1'}) %>
                  <small class="text-muted">Days ago, less than or greater than?</small>
                </div>
              </div>

              <div class="form-group row">
                <%= f.label :release_date_start, class: 'col-sm-2 col-form-label' %>
                <div class="col-sm-10">
                  <%= f.text_field :release_date_start, class: 'form-control mb-1 date_picker' %>
                  <small class="text-muted">Include tracks released on or <b>after</b> this date</small>
                </div>
              </div>

              <div class="form-group row">
                <%= f.label :release_date_end, class: 'col-sm-2 col-form-label' %>
                <div class="col-sm-10">
                  <%= f.text_field :release_date_end, class: 'form-control mb-1 date_picker' %>
                  <small class="text-muted">Include tracks released on or <b>before</b> this date</small>
                </div>
              </div>

              <div class="form-group row">
                <%= f.label :limit, class: 'col-sm-2 col-form-label' %>
                <div class="col-sm-10">
                  <%= f.text_field :limit, class: 'form-control mb-1' %>
                  <small class="text-muted">How many days ago was the song added?</small>
                </div>
              </div>

              <div class="form-group row">
                <%= f.label :genres, class: 'col-sm-2 col-form-label' %>
                <div class="col-sm-10">
                  <%= f.text_field :genres, class: 'form-control mb-1' %>
                  <small class="text-muted">Comma-separated genres you'd like to limit to. <a href="http://everynoise.com/everynoise1d.cgi?scope=all&vector=popularity">Here's a useful list</a> of the 3000+ genres Spotify supports. 🤯</small>
                </div>
              </div>

              <div class="form-group row">
                <%= f.label :plays, class: 'col-sm-2 col-form-label' %>
                <div class="col-sm-10">
                  <%= f.text_field :plays, class: 'form-control mb-1' %>
                  <small class="text-muted">How many plays does this song have? NOTE: This count only starts <b>after</b> you connect to PLYLST.</small>
                </div>
              </div>

              <div class="form-group row">
                <%= f.label :plays_filter, class: 'col-sm-2 col-form-label' %>
                <div class="col-sm-10">
                  <%= f.select(:plays_filter, options_for_select([['',''], ['Less than', 'lt'], ['Greater than', 'gt']], @playlist.plays_filter), {}, { class: 'custom-select custom-select-lg mb-1'}) %>
                  <small class="text-muted">Play count, less than or greater than?</small>
                </div>
              </div>

              <div class="form-group row">
                <%= f.label :last_played_days_ago, class: 'col-sm-2 col-form-label' %>
                <div class="col-sm-10">
                  <%= f.text_field :last_played_days_ago, class: 'form-control mb-1' %>
                  <small class="text-muted">How many days ago was the song last played? NOTE: This data is only available for songs played <b>after</b> you connect to PLYLST.</small>
                </div>
              </div>

              <div class="form-group row">
                <%= f.label :last_played_days_ago_filter, class: 'col-sm-2 col-form-label' %>
                <div class="col-sm-10">
                  <%= f.select(:last_played_days_ago_filter, options_for_select([['',''], ['Less than', 'lt'], ['Greater than', 'gt']], @playlist.last_played_days_ago_filter), {}, { class: 'custom-select custom-select-lg mb-1'}) %>
                  <small class="text-muted">Last played days ago, less than or greater than?</small>
                </div>
              </div>

              <!-- <div class="input-group mb-2 mr-sm-2" style="width:250px">
                <select class="form-control js-example-basic-single" data-toggle="select">
                  <option>Added to Library</option>
                  <option>Beats Per Minute</option>
                  <option>Release Date</option>
                </select>
              </div>

              <div class="input-group mb-2 mr-sm-2">
                <input type="text" class="form-control" placeholder="5">
                <div class="input-group-append">
                  <div class="input-group-text">days ago</div>
                </div>
              </div> -->

              <button type="submit" class="btn btn-primary mb-2">Update Rules</button>
            <% end %>
          </div>
        </div>

         <!-- <div class="card">
          <div class="table-responsive">
            <table class="table table-sm table-nowrap card-table">
              <thead>
                <tr>
                  <th colspan="2">Song</th>
                  <th>Artist</th>
                  <th>Album</th>
                  <th><i class="fal fa-calendar-alt"></i></th>
                  <th><i class="fal fa-clock"></i></th>
                </tr>
              </thead>
              <tbody class="list">
                
              </tbody>
            </table>
          </div>
        </div> -->


      </div>
    </div>
  </div>
</div>