<% title "#{@playlist.name} Playlist" %>
<% description("#{@playlist.name} playlist on PLYLST. #{@playlist.translated_rules}") if @playlist.translated_rules.present? %>
<% meta_image(@playlist.meta_image) if @playlist.meta_image.present? %>

<% if @playlist.public == true and @playlist.user != current_user %>
<div class="container">
<div class="row">
    <div class="col-12 p-5 text-center">
      <%= link_to image_tag('logo-full.svg', class: 'img-fluid mt-n5 mb-2 pt-5', style: 'max-width:275px'), root_path, class: '' %>
    </div>
  </div>
<div class="card">
    <div class="card-body p-5">
      <div class="row justify-content-center">
        <div class="col-12">
<% end %>


<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">

        <div class="header mt-md-5">
          <div class="row align-items-center">
            <div class="col-7">
              <% if @playlist.user == current_user %>
              <h6 class="header-pretitle">Playlist</h6>
              <% end %>
              <h1 class="header-title"><%= @playlist.name %> 
              <% if @playlist.public == true and @playlist.user != current_user %>
              <span class="text-muted">by <%= @playlist.user.uid %></span>
              <% end %>
              <% if user_signed_in? and @playlist.user == current_user %>
                <small class="actions"><%= link_to "Edit", edit_playlist_path(@playlist), class: 'btn btn-sm btn-primary' %> <%= link_to 'Delete', playlist_path(@playlist), :class => "btn-danger btn btn-sm", :method => :delete, :data => {:confirm => 'Are you sure you want to delete this playlist?'} %> </small>
              <% end %>
              </h1>
              <% if @playlist.translated_rules.present? %>
              <h4><%= @playlist.translated_rules %></h4>
              <% end %>
            </div>
            
            <div class="col-5 text-right">
            <% if @playlist.spotify_id.present? and @playlist.user == current_user %>
              <%= link_to "<i class='fab fa-spotify'></i> Open in Spotify".html_safe, @playlist.open_spotify_link, class: 'btn btn-success font-weight-bolder' %>
            <% end %>
            <% if @playlist.user == current_user %>
              <a href="javascript:void(0)" class="btn btn-primary copy-text" data-clipboard-text="<%= playlist_url(@playlist) %>"><i class="far fa-share-alt"></i> <span>Copy shareable link</span></a>
            <% end %>
            
            <% if @playlist.public == true and @playlist.user != current_user %>
              <%= link_to "<i class='far fa-clone'></i> Clone this PLYLST".html_safe, duplicate_playlist_path(@playlist), class: 'btn btn-primary font-weight-bolder' %>
            <% end %>
            </div>
            
          </div>
        </div>

        <div class="card">
          <div class="table-responsive">
            <table class="table table-sm table-nowrap card-table">
              <thead>
                <tr>
                  <th colspan="2">Song</th>
                  <th>Artist</th>
                  <th>Album</th>
                  <th><i class="fal fa-clock"></i></th>
                  <th></th>
                </tr>
              </thead>
              <tbody class="list">
                <% cache(['v1', @playlist], expires_in: 2.hours) do %>
                  <% if @tracks.present? %>
                    <% @tracks.each do |track| %>
                    <tr>
                      <td colspan="2">
                        <div class="avatar avatar-xs mr-2"><%= image_tag track.album.image, class: 'avatar-img rounded-sm' if track.album.image.present? %></div>
                        <span class="align-middle text-truncate d-inline-block" style="max-width:200px;"><%= track.name %> </span>
                      </td>
                      <td>
                        <%= track.artist.name %>
                      </td>
                      <td>
                        <span class="align-middle text-truncate d-inline-block" style="max-width:200px;"><%= track.album.name %></span>
                      </td>
                      <td>
                        <%= format_ms(track.duration) %>
                      </td>
                      <td><span tabindex="0" data-trigger="focus" data-toggle="popover"data-html="true" data-content="<% if track.artist.genres.present? %><h3 class='popover-header'>Genres</h3><div class='popover-body'><%= track.artist.genres.join(', ') %></div><br><% end %>
                      <% if track.album.label.present? %>
                      <h3 class='popover-header'>Label</h3><div class='popover-body'><%= track.album.label %></div><br>
                      <% end %>
                      <% if track.key.present? %><h3 class='popover-header'>Audio Features</h3><div class='popover-body'><%= human_readable(track.slice(:key,:mode,:tempo,:energy,:valence,:liveness,:loudness,:speechiness,:acousticness,:danceability,:time_signature,:instrumentalness).as_json) %></div><% end %>"><i class="fas fa-info-circle"></i></span></td>
                    </tr>
                    <% end %>
                  <% else %>
                    <tr>
                      <td colspan="5">No songs match your filters. 😭</td>              
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<% if @playlist.public == true and @playlist.user != current_user %>
</div></div></div></div></div>
<% end %>