<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">

        <div class="header mt-md-5">
          <div class="row align-items-center">
            <div class="col-12">
              <h6 class="header-pretitle">Playlist</h6>
              <h1 class="header-title"><%= @playlist.name %> <small class="actions"><%= link_to "Edit", edit_playlist_path(@playlist), class: 'btn btn-sm btn-primary' %> <%= link_to 'Delete', playlist_path(@playlist), :class => "btn-danger btn btn-sm", :method => :delete, :data => {:confirm => 'Are you sure you want to delete this playlist?'} %> </small></h1>
              <% if @playlist.translated_rules.present? %>
              <h4><%= @playlist.translated_rules %></h4>
              <% end %>
            </div>
          </div>
        </div>




        <div class="card">
          <div class="table-responsive">
            <table class="table table-sm table-nowrap card-table">
              <thead>
                <tr>
                  <th colspan="2">Song</th>
                  <th>Artist</th>
                  <th>Album</th>
                  <th><i class="fal fa-clock"></i></th>
                  <th></th>
                </tr>
              </thead>
              <tbody class="list">
                <% if @tracks.present? %>
                <% @tracks.each do |track| %>
                <tr>
                  <td colspan="2">
                    <div class="avatar avatar-xs mr-2"><%= image_tag track.album.image, class: 'avatar-img rounded-sm' if track.album.image.present? %></div>
                    <span class="align-middle text-truncate d-inline-block" style="max-width:200px;"><%= track.name %> </span>
                  </td>
                  <td>
                    <%= track.artist.name %>
                  </td>
                  <td>
                    <span class="align-middle text-truncate d-inline-block" style="max-width:200px;"><%= track.album.name %></span>
                  </td>
                  <td>
                    <%= format_ms(track.duration) %>
                  </td>
                  <td><span tabindex="0" data-trigger="focus" data-toggle="popover"data-html="true" data-content="<% if track.artist.genres.present? %><h3 class='popover-header'>Genres</h3><div class='popover-body'><%= track.artist.genres.join(', ') %></div><br><% end %><% if track.audio_features.present? %><h3 class='popover-header'>Audio Features</h3><div class='popover-body'><%= human_readable(track.audio_features) %></div><% end %>"><i class="fas fa-info-circle"></i></span></td>
                </tr>
                <% end %>
                <% else %>
                <tr>
                  <td colspan="5">No songs match your filters. 😭</td>              
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>