<!DOCTYPE html>
<html>
  <head>
    <title>PLYLST</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/3ebaf2334e.js"></script>
  </head>

  <body>
    <% if user_signed_in? -%>
    <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light" id="sidebar">
       <div class="container-fluid">

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- User (xs) -->
        <div class="navbar-user d-md-none">

          <!-- Dropdown -->
          <div class="dropdown">

            <!-- Toggle -->
            <a href="#" id="sidebarIcon" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="avatar avatar-sm avatar-online">
                <%= image_tag gravatar_url(current_user.email, 250), alt: "", class: 'avatar-img rounded-circle' %>
              </div>
            </a>

            <!-- Menu -->
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sidebarIcon">
              <a href="profile-posts.html" class="dropdown-item">Profile</a>
              <a href="settings.html" class="dropdown-item">Settings</a>
              <hr class="dropdown-divider">
              <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, class: 'dropdown-item' %>
            </div>

          </div>

        </div>

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidebarCollapse">


          <!-- Heading -->
          <h6 class="navbar-heading">
            Smart Playlists
          </h6>

          <!-- Navigation -->
          <ul class="navbar-nav mb-md-4">
            <li class="nav-item">
              <a class="nav-link active" href="getting-started.html">
                <i class="fe far fa-music"></i> Getting started
              </a>
            </li>
          </ul>
          <%= link_to "<i class='fas fa-plus-circle'></i> Create a playlist".html_safe, new_playlist_path, class: 'btn btn-block btn-primary mb-4' %>

          <!-- Push content down -->
          <div class="mt-auto"></div>

          
          <div class="navbar-user d-none d-md-flex" id="sidebarUser">
                  
                          <!-- Icon -->
                          <a href="#sidebarModalActivity" class="navbar-user-link" data-toggle="modal">
                            <span class="icon">
                              <i class="far fa-bell"></i>
                            </span>
                          </a>

                          <!-- Dropup -->
                          <div class="dropup">
                    
                            <!-- Toggle -->
                            <a href="#" id="sidebarIconCopy" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <div class="avatar avatar-sm avatar-online">
                                <%= image_tag gravatar_url(current_user.email, 250), alt: "", class: 'avatar-img rounded-circle' %>
                              </div>
                            </a>

                            <!-- Menu -->
                            <div class="dropdown-menu" aria-labelledby="sidebarIconCopy">
                              <a href="profile-posts.html" class="dropdown-item">Profile</a>
                              <a href="settings.html" class="dropdown-item">Settings</a>
                              <hr class="dropdown-divider">
                              <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, class: 'dropdown-item' %>
                            </div>

                          </div>

                          <!-- Icon -->
                          <a href="#sidebarModalSearch" class="navbar-user-link" data-toggle="modal">
                            <span class="icon">
                              <i class="fas fa-search"></i>
                            </span>
                          </a>

                        </div>
        </div> <!-- / .navbar-collapse -->

      </div>
    </nav>
    <% end -%>
    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
    <%= yield %>
  </body>
</html>
