<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? ("#{yield(:title)} - PLYST").html_safe : "PLYLST: Smart Playlists for Spotify" %></title>
    <meta name="title" content="PLYLST">
    <meta name="description" content="Create smart playlists for your Spotify library! Stop relying on fancy pants algorithms to organize your library and instead build playlists the way you want.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://plylst.app/">
    <meta property="og:title" content="PLYLST: Smart Playlists for Spotify">
    <meta property="og:description" content="Create smart playlists for your Spotify library! Stop relying on fancy pants algorithms to organize your library and instead build playlists the way you want.">
    <meta property="og:image" content="<%= image_url('meta.png') %>">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://plylst.app/">
    <meta property="twitter:title" content="PLYLST: Smart Playlists for Spotify">
    <meta property="twitter:description" content="Create smart playlists for your Spotify library! Stop relying on fancy pants algorithms to organize your library and instead build playlists the way you want.">
    <meta property="twitter:image" content="<%= image_url('meta.png') %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script data-search-pseudo-elements src="https://kit.fontawesome.com/3ebaf2334e.js"></script>
    <%= yield :head %>
  </head>

  <body class="<%= yield (:body_class) %>">
    <% if user_signed_in? and ((@all_playlists.present? or params[:action] == 'new') and @hide_sidebar != true) -%>
    <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-dark navbar-vibrant" id="sidebar">
       <div class="container-fluid">

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: name %>
        <% end -%>

        <%= link_to image_tag('logo.svg', class: 'navbar-brand-img mx-auto'), root_path, class: 'navbar-brand' %>

        <!-- User (xs) -->
        <div class="navbar-user d-md-none">

          <!-- Dropdown -->
          <div class="dropdown">

            <!-- Toggle -->
            <a href="#" id="sidebarIcon" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="avatar avatar-sm avatar-online">
                <%= image_tag gravatar_url(current_user, 250), alt: "", class: 'avatar-img rounded-circle' %>
              </div>
            </a>

            <!-- Menu -->
            <div class="dropdown-menu" aria-labelledby="sidebarIcon">
              <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, class: 'dropdown-item' %>
            </div>

          </div>

        </div>

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidebarCollapse">
          <!-- Navigation -->
          <ul class="navbar-nav mb-md-4">
            <% @all_playlists.each do |playlist| %>
            <li class="nav-item <% if playlist.id.to_s == params[:id] %> active<% end %>">
              <%= link_to "<i class='fe far fa-music'></i> #{playlist.name}".html_safe, playlist_path(playlist), class: 'nav-link' %>
            </li>
            <% end %>
          </ul>
          <%= link_to "<i class='fas fa-plus-circle'></i> Create a playlist".html_safe, new_playlist_path, class: 'btn btn-block btn-dark mb-4' %>

          <!-- Push content down -->
          <div class="mt-auto"></div>

          <div class="text-center mb-5">
            <a href="https://github.com/Shpigford/plylst" class="btn btn-sm btn-outline-dark px-3 py-2"><b><i class="fab fa-github mr-1"></i> PLYLST is open source!</b></a>
          </div>
          
          <div class="navbar-user d-none d-md-flex" id="sidebarUser">
            <!-- Dropup -->
            <div class="dropup">
      
              <!-- Toggle -->
              <a href="#" id="sidebarIconCopy" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="avatar avatar-sm avatar-online">
                  <%= image_tag gravatar_url(current_user, 250), alt: "", class: 'avatar-img rounded-circle' %>
                </div>
              </a>

              <!-- Menu -->
              <div class="dropdown-menu text-center" aria-labelledby="sidebarIconCopy">
                <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, class: 'dropdown-item' %>
              </div>

            </div>

          </div>
        </div>

      </div>
    </nav>
    <% end -%>

    <% if user_signed_in? %>
    <div class="feedback">
      <a href="#"><span>👋</span></a>
      <div class="form">
        <%= form_tag(contact_pages_path, remote: true, method: :post) do %>
        <div class="form-group">
          <%= text_area_tag(:message, '', placeholder: "Send us your feedback!", class: "form-control", autofocus: 'autofocus') %>
        </div>
        <button type="submit" class="btn btn-primary btn-sm btn-block">Send it!</button>
      <% end %>
      </div>
      <div class="thanks">
        Feedback sent! You're amazing! 💖
      </div>
    </div>
    <% end %>

    <%= yield %>
    <% if Rails.env.production? %>
    <script>
    (function(f, a, t, h, o, m){
    a[h]=a[h]||function(){
    (a[h].q=a[h].q||[]).push(arguments)
    };
    o=f.createElement('script'),
    m=f.getElementsByTagName('script')[0];
    o.async=1; o.src=t; o.id='fathom-script';
    m.parentNode.insertBefore(o,m)
    })(document, window, 'https://cdn.usefathom.com/tracker.js', 'fathom');
    fathom('set', 'siteId', '<%= ENV['fathom'] %>');
    fathom('trackPageview');
    </script>
    <% end %>
  </body>
</html>
