<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? ("#{yield(:title)} - PLYST").html_safe : "PLYLST: Smart Playlists for Spotify" %></title>
    <meta name="title" content="PLYLST">
    <meta name="description" content="<%= content_for?(:description) ? (yield(:description)) : "Create smart playlists for your Spotify library! Stop relying on fancy pants algorithms to organize your library and instead build playlists the way you want." %>">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://plylst.app/">
    <meta property="og:title" content="<%= content_for?(:title) ? ("#{yield(:title)} - PLYST") : "PLYLST: Smart Playlists for Spotify" %>">
    <meta property="og:description" content="<%= content_for?(:description) ? (yield(:description)) : "Create smart playlists for your Spotify library! Stop relying on fancy pants algorithms to organize your library and instead build playlists the way you want." %>">
    <meta property="og:image" content="<%= image_url(content_for?(:meta_image) ? yield(:meta_image) : "meta.png") %>">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://plylst.app/">
    <meta property="twitter:title" content="<%= content_for?(:title) ? ("#{yield(:title)} - PLYST") : "PLYLST: Smart Playlists for Spotify" %>">
    <meta property="twitter:description" content="<%= content_for?(:description) ? (yield(:description)) : "Create smart playlists for your Spotify library! Stop relying on fancy pants algorithms to organize your library and instead build playlists the way you want." %>">
    <meta property="twitter:image" content="<%= image_url(content_for?(:meta_image) ? yield(:meta_image) : "meta.png") %>">

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'stylesheets', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script data-search-pseudo-elements src="https://kit.fontawesome.com/3ebaf2334e.js"></script>
    <%= yield :head %>

    <% if Rails.env.production? %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV['google_analytics'] %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '<%= ENV['google_analytics'] %>');
    </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
